<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2012-2017 VMware, Inc. All rights reserved. -->
<!--
   spp plugin metadata.
   The <plugin> tag doesn't contain any moduleUri property because it is an HTML plugin.
-->

<plugin id="com.ibm.spp.spp" defaultBundle="com_ibm_spp">

   <resources>
      <resource locale="{locale}">
         <module uri="locales/spp-{locale}.swf"/>
      </resource>
   </resources>

   <dependencies>
      <!-- Allow HTML Client to display plugin icons in menus, shortcuts, object lists -->
      <dependency type="css" uri="spp/assets/css/plugin-icons.css" />
   </dependencies>

    <!-- Home view shortcut -->

   <extension id="com.ibm.spp.homeShortcut">
      <extendedPoint>vise.home.shortcuts</extendedPoint>
      <object>
         <name>#{app.name}</name>
         <icon>#{appIcon}</icon>
         <categoryUid>vsphere.core.controlcenter.monitoringCategory</categoryUid>
         <targetViewUid>com.ibm.spp.mainView</targetViewUid>
      </object>
   </extension>
   
   <!-- Add link to the Object Navigator -->
   <extension id="com.ibm.spp.node">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{app.name}</title>
         <icon>#{appIconSmall}</icon>
         <parentUid>vsphere.core.navigator.solutionsCategory</parentUid>
         <navigationTargetUid>com.ibm.spp.mainView</navigationTargetUid>
         <viewOpenedUponFocus className="com.vmware.ui.objectnavigator.views.CategoryNodeTreeView" />
      </object>
   </extension>
   
   <extension id="com.ibm.spp.actionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>
            <com.vmware.actionsfw.ActionSpec>
               <uid>com.ibm.spp.sampleAction1</uid>
               <label>#{sampleAction1.name}</label>
               <icon>#{addIcon}</icon>
               <delegate>
                  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                     <!-- actionUrl maps to ActionsController on the java side -->
                     <actionUrl>/vsphere-client/spp/rest/actions.html</actionUrl>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
          </actions>
      </object>
   </extension>
   
   <!-- Node for global app vCenter view -->
   <extension id="com.ibm.spp.node.vcView">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>Main View</title>
         <navigationTargetUid>com.ibm.spp.mainView</navigationTargetUid>
         <parentUid>com.ibm.spp.node</parentUid>
      </object>
   </extension>
   
   <extension id="com.ibm.spp.node.dashboard">
   	<extendedPoint>vise.navigator.nodespecs</extendedPoint>
   	<object>
         <title>Dashboard</title>
         <navigationTargetUid>com.ibm.spp.dashboard</navigationTargetUid>
         <parentUid>com.ibm.spp.node</parentUid>
      </object>
   </extension>
   
   <extension id="com.ibm.spp.node.vcReg">
   	<extendedPoint>vise.navigator.nodespecs</extendedPoint>
   	<object>
         <title>vCenter</title>
         <navigationTargetUid>com.ibm.spp.vcReg</navigationTargetUid>
         <parentUid>com.ibm.spp.node</parentUid>
      </object>
   </extension>

   <!-- Main view -->

   <extension id="com.ibm.spp.mainView">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{app.name}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/vsphere-client/spp/resources/mainView.html</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!-- Dashboard View -->
   <extension id="com.ibm.spp.dashboard">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{app.name}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/vsphere-client/spp/resources/dashboard.html</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   
   <!-- vCenter View -->
   <extension id="com.ibm.spp.vcReg">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{app.name}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/vsphere-client/spp/resources/spp-vcenter.html</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>

   <!-- Host monitor sample view -->

   <extension id="com.ibm.spp.host.monitor">
      <extendedPoint>vsphere.core.host.monitorViews</extendedPoint>
      <object>
         <name>#{monitorTab.label}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/vsphere-client/spp/resources/host-monitor.html</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>

   <!-- Sample Actions on Hosts -->

   <extension id="com.ibm.spp.actionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>
            <com.vmware.actionsfw.ActionSpec>
               <uid>com.ibm.spp.sampleAction1</uid>
               <label>#{sampleAction1.name}</label>
               <icon>#{addIcon}</icon>
               <delegate>
                  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                     <!-- actionUrl maps to ActionsController on the java side -->
                     <actionUrl>/vsphere-client/spp/rest/actions.html</actionUrl>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>

             <com.vmware.actionsfw.ActionSpec>
               <uid>com.ibm.spp.sampleAction2</uid>
               <label>#{sampleAction2.name}</label>
               <icon>#{editIcon}</icon>
               <delegate>
                  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                     <!-- actionUrl can be shared between several actions -->
                     <actionUrl>/vsphere-client/spp/rest/actions.html</actionUrl>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
          </actions>
      </object>
      <metadata>
         <objectType>HostSystem</objectType>
      </metadata>
   </extension>

   <!--
      This adds a sub-menu to the Host menu, using the actions defined above
   -->
   <extension id="com.ibm.spp.hostMenu">
      <extendedPoint>vsphere.core.menus.solutionMenus</extendedPoint>
      <object>
         <!-- <label> is required here because it is an extension to an existing menu -->
         <label>#{sampleMenu.label}</label>
         <uid>com.ibm.spp.hostMenu</uid>
         <children>
            <Array>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <type>action</type>
                  <uid>com.ibm.spp.sampleAction1</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <type>action</type>
                  <uid>com.ibm.spp.sampleAction2</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
            </Array>
         </children>
      </object>
      <metadata>
         <objectType>HostSystem</objectType>
      </metadata>
   </extension>
   
   <!-- Define a set of 2 actions on VirtualMachine objects (VM and VM templates) -->

   <extension id="com.ibm.spp.vmActionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>
            <com.vmware.actionsfw.ActionSpec>
               <!-- UI action: show dialog -->
               <uid>com.ibm.spp.editSlaPolicy</uid>
               <label>#{editVMSlaPolicy.name}</label>
               <icon>#{editIcon}</icon>
               <delegate>
               	  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                     <!-- execute the action on client-side (html view in a modal dialog) -->
                     <actionUrl>/vsphere-client/spp/resources/slapolicy-dialog.html</actionUrl>
                     <dialogTitle>#{editVMSlaPolicy.name}</dialogTitle>
                     <dialogSize>600,250</dialogSize>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
            <com.vmware.actionsfw.ActionSpec>
               <!-- Action to do a restore on a virtual machine -->
               <uid>com.ibm.spp.restoreVM</uid>
               <label>#{restoreVM.name}</label>
               <delegate>
               	  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                     <!-- execute the action on client-side (html view in a modal dialog) -->
                     <actionUrl>/vsphere-client/spp/resources/restore-dialog.html</actionUrl>
                     <dialogTitle>#{restoreVM.name}</dialogTitle>
                     <dialogSize>600,400</dialogSize>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
         </actions>
      </object>
      <metadata>
         <!-- Filter this extension only for VirtualMachine objects -->
         <objectType>VirtualMachine</objectType>
      </metadata>
   </extension>
   
   <!--
      This extension uses the actions defined above to add a custom solution menu under
      the existing VirtualMachine menu. It includes a sub-menu and separator.
   -->
   <extension id="com.ibm.spp.vmMenu">
      <extendedPoint>vsphere.core.menus.solutionMenus</extendedPoint>
      <object>
         <!-- <label> is required here because it is an extension to an existing menu -->
         <label>#{actionMenu.label}</label>
         <icon>#{appIconSmall}</icon>
         <uid>com.ibm.spp.vmMenu</uid>
         <children>
            <Array>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <!-- UI action example -->
                  <type>action</type>
                  <uid>com.ibm.spp.editSlaPolicy</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
               <!--<com.vmware.actionsfw.ActionMenuItemSpec>
                  <type>separator</type>
               </com.vmware.actionsfw.ActionMenuItemSpec>-->
			   <com.vmware.actionsfw.ActionMenuItemSpec>
                  <!-- UI action example -->
                  <type>action</type>
                  <uid>com.ibm.spp.restoreVM</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
               <!-- Here is how you can group actions into a sub-menu.  Note that sub-menus should only be
                    used within complex menus. A flat menu is a better user experience in most cases.
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <uid>sub-menu</uid>
                  <label>#{submenu.label}</label>
                  <children>
                     <Array>
                        <com.vmware.actionsfw.ActionMenuItemSpec>
                           <type>action</type>
                           <uid>com.vmware.samples.vspherewssdk.myVmAction1</uid>
                        </com.vmware.actionsfw.ActionMenuItemSpec>
                        <com.vmware.actionsfw.ActionMenuItemSpec>
                           <type>action</type>
                           <uid>com.vmware.samples.vspherewssdk.myVmAction2</uid>
                        </com.vmware.actionsfw.ActionMenuItemSpec>
                     </Array>
                  </children>
               </com.vmware.actionsfw.ActionMenuItemSpec>
               -->
            </Array>
         </children>
      </object>
      <metadata>
         <!-- Filter creates this extension only for VirtualMachine objects -->
         <objectType>VirtualMachine</objectType>
      </metadata>
   </extension>
   
   <!--
      VM summary Html view
      This portlet displays normally in the HTML client and is not visible in the Flex client
      because of the ".html" suffix added to the extended point => summarySectionViews.html
   -->

   <extension id="com.ibm.spp.vm.summary">
      <extendedPoint>vsphere.core.vm.summarySectionViews.html</extendedPoint>
      <object>
         <name>SPP</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/vsphere-client/spp/resources/vm-spp-summary.html</url>
                  <dialogTitle>SPP Summary</dialogTitle>
                  <dialogSize>440,400</dialogSize>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   
   <extension id="com.ibm.spp.folderActionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>
            <com.vmware.actionsfw.ActionSpec>
               <!-- UI action: show dialog -->
               <uid>com.ibm.spp.editFolderSlaPolicy</uid>
               <label>#{editFolderSlaPolicy.name}</label>
               <icon>#{editIcon}</icon>
               <delegate>
               	  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                     <!-- execute the action on client-side (html view in a modal dialog) -->
                     <actionUrl>/vsphere-client/spp/resources/slapolicy-dialog.html</actionUrl>
                     <dialogTitle>#{editFolderSlaPolicy.name}</dialogTitle>
                     <dialogSize>600,250</dialogSize>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
         </actions>
      </object>
      <metadata>
         <!-- Filter this extension only for Folder objects -->
         <objectType>Folder</objectType>
      </metadata>
   </extension>
   <!--
      This extension uses the actions defined above to add a custom solution menu under
      the existing VirtualMachine menu. It includes a sub-menu and separator.
   -->
   <extension id="com.ibm.spp.folderMenu">
      <extendedPoint>vsphere.core.menus.solutionMenus</extendedPoint>
      <object>
         <!-- <label> is required here because it is an extension to an existing menu -->
         <label>#{actionMenu.label}</label>
         <icon>#{appIconSmall}</icon>
         <uid>com.ibm.spp.folderMenu</uid>
         <children>
            <Array>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <!-- UI action example -->
                  <type>action</type>
                  <uid>com.ibm.spp.editFolderSlaPolicy</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <type>separator</type>
               </com.vmware.actionsfw.ActionMenuItemSpec>
			</Array>
         </children>
      </object>
      <metadata>
         <!-- Filter creates this extension only for Folder objects -->
         <objectType>Folder</objectType>
      </metadata>
   </extension>	
</plugin>
